{% extends 'navbar.html' %}
{% set this_page_id = 'about' %}
{% block content %}
<div class="row-fluid">
    <div class="span10 offset1">
        <div class="jumbotron">
            <h1>CodeSphere</h1>
            <em>Created by Samuel Damashek, James Forcier, Reed Koser, and Fox Wilson at PilotDC</em>
        </div>
    </div>
</div>
<div class="row-fluid">
    <div class="span10 offset1">
        CodeSphere is an application which enables advanced collaboration on GitHub projects. It includes features such as developer chat and improved bug tracking.
    </div>
</div>
{% endblock %}
