{% extends 'base.html' %}
{% set navbar = [
(url_for('index'), 'home', 'Home', True),
('/about/', 'about', 'About', True)
] -%}

{% set this_page_id = this_page_id | default('home') %}

{% block head %}
    {% block headadditions %}
    {% endblock %}
{% endblock %}
{% block body %}
        <div class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <a data-target=".nav-collapse" data-toggle="collapse" class="navbar-toggle btn btn-navbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                </div>
                <a class="navbar-brand" href="/">CodeSphere</a>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        {% for path, page_id, display_text, display_condition in navbar %}
                            {% if display_condition %}
                                <li{% if page_id == this_page_id %} class="active"{% endif %}>
                                    <a href="{{ path }}">{{ display_text }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        {% if not session.user_id %}
                            <li><a href="/login/">Login</a></li>
                        {% else %}
                            <li{% if 'userpage' == this_page_id %} class="active" {% endif %}><a href="/u/{{ session['username'] }}">{{ session['username'] }}</a></li>
                            <li><a href="/logout/">Logout</a></li>
                        {% endif %}
                    </ul>
                </div>
        </div>
        <div class="container">
            <div id="alerts-container">
                {% block alerts %}{% endblock %}
                {% for cat, msg in get_flashed_messages(with_categories=True) %}
                    <div class="alert alert-{{ cat }} alert-flashed">{{ msg|safe }}</div>
                {% endfor %}
            </div>
            {% block content %}
            {% endblock %}
        </div>
{% endblock %}

