{% extends 'base.html' %}
{% set navbar = [
    (url_for('index'), 'home', 'Home', True),
    ('/about/', 'about', 'About', True)
] -%}

{% set this_page_id = this_page_id | default('home') %}

{% block head %}
    <style type="text/css">
        body { padding-top: 60px; }
    </style>
    {% block headadditions %}
    {% endblock %}
{% endblock %}
{% block body %}
    <div class="container">
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <a class="navbar-brand" href="/">CodeSphere</a>
                <ul class="nav navbar-nav">
                    {% for path, page_id, display_text, display_condition in navbar %}
                        {% if display_condition %}
                            <li{% if page_id == this_page_id %} class="active"{% endif %}>
                                <a href="{{ path }}">{{ display_text }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
                <ul class="nav navbar-nav pull-right">
                    {% if not session.user_id %}
                        <li><a href="/login/">Login</a></li>
                    {% else %}
                        <li{% if 'userpage' == this_page_id %} class="active" {% endif %}><a href="/u/{{ session['username'] }}">{{ session['username'] }}</a></li>
                        <li><a href="/logout/">Logout</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <div class="container">
            <div id="alerts-container">
                {% block alerts %}{% endblock %}
                {% for cat, msg in get_flashed_messages(with_categories=True) %}
                    <div class="alert alert-{{ cat }} alert-flashed">{{ msg|safe }}</div>
                {% endfor %}
            </div>
            {% block content %}
            {% endblock %}
        </div>
    </div>
{% endblock %}

