{% extends 'navbar.html' %}

{% block content %}
<div class="row-fluid">
    <div class="span10 offset1">
        <div class="panel panel-default">
            <div class="panel-heading">Shorten Project URL</div>
            <div class="panel-body">
                <form role="form" id="linkdata" action="/shorten" method="post">
                    <div class="form-group">
                        <label for="shl">Short Link:</label>
                        <div class="input-group">
                            <span class="input-group-addon">http://www.codesphere.org/p/</span>
                            <input type="text" id="shl" name="short" class="form-control" placeholder="proj">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="ll">Project Name:</label>
                        <div class="input-group">
                            <span class="input-group-addon">http://www.codesphere.org/u/{{  session['username'] }}/ projects/</span>
                            <input type="text" id="ll" name="long" class="form-control" placeholder="MyProject  ">
                        </div>
                    </div>
                    <button class="btn">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}