{% extends 'navbar.html' %}
{% set this_page_id = 'userpage' %}
{% block content %}

<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                My Imported Repos
            </div>
            <div class="panel-content">
                <ul>
                    {% if len(irepos) == 0 %}
                    <p>No imported repos!</p>
                    {% else %}
                    {% for i in irepos %}
                    <li><a href="/{{ i[0] }}/{{ i[1] }}">{{ i[1] }}</a></li>
                    {% endfor %}
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                Unimported Repos
            </div>
            <div class="panel-content">
                <ul>
                    {% if len(urepos) == 0 %}
                    <p>No unimported repos!</p>
                    {% else %}
                    {% for i in urepos %}
                    <li><a href="//github.com/{{ user }}/{{ i }}">{{ i }}</a></li>
                    {% endfor %}
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <!-- <div>
        pls
    </div> -->
</div>

{% endblock %}
