{% extends 'navbar.html' %}
{% set this_page_id = 'userpage' %}
{% block content %}

<div class="row">
    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                My Imported Repos
            </div>
            <div class="panel-content">
                <ul class="list-group">
                    {% if len(irepos) == 0 %}
                    <p>No imported repos!</p>
                    {% else %}
                    {% for i in irepos %}
                    <li class="list-group-item">
                        <a href="https://github.com/{{ user }}/{{ i }}">{{ i }}</a>
                        <a href="/u/{{ user }}/projects/{{ i }}/chat/">(Chat)</a>
                        <a href="/i/{{ user }}/projects/{{ i }}/whiteboard/view/">(Whiteboard)</a>
                    </li>
                    {% endfor %}
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Unimported Repos
            </div>
            <div class="panel-content">
                {% if len(urepos) == 0 %}
                    <p>No unimported repos!</p>
                {% else %}
                    <ul class="list-group">
                        {% for i in urepos %}
                            <li class="list-group-item">
                                <a href="//github.com/{{ user }}/{{ i }}">{{ i }}</a>
                                <a class="pull-right" href="/u/{{ user }}/projects/{{ i }}/import">Import</a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="row">
    <!-- <div>
        pls
    </div> -->
</div>

{% endblock %}
