{% extends 'navbar.html' %}
{% block content %}

<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                My Imported Repos
            </div>
            <ul>
                {% for i in irepos %}
                <li><a href="/{{ user }}/{{ i[0].name }}">{{ i[0].name }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                Unimported Repos
            </div>
            <ul>
                <!-- {% for i in urepos %}
                <li><a href="//github.com/{{ user }}/{{ i }}">{{ i }}</a></li>
                {% endfor %} -->
            </ul>
        </div>
    </div>
</div>

<div class="row">
    <div>
        pls
    </div>
</div>

{% endblock %}
