{% extends 'navbar.html' %}
{% set this_page_id='nothing' %}
{% block content %}
    <form action="/tasks/{{ prid }}/task/add/" method="POST">
        <div class="row">
            <div class="col-sm-10">
                <input type="text" name="task" class="form-control" />
            </div>
            <div class="col-sm-2">
                <input type="submit" value="Add task" class="btn btn-primary"/>
            </div>
        </div>
    </form>
    <ul class="list-group" id="tasks">
        {% for i in notes %}
            <li class="list-group-item"><table><tr><td>{{ i }}</td>
                <td>
                    <form action="/tasks/{{ prid }}/task/del/", method="POST">
                        <input type="hidden" name="task" value="{{ i }}" />
                        <input type="submit" class="btn btn-link" value="Delete" />
                    </form>
                </td></tr></table>
            </li>
        {% endfor %}
    </ul>
    <form action="{{ url_for('edit_notes', user=user, project=project) }}" method="POST">
        <textarea rows="14" name="data" class="form-control" style="width:100%;">{{ wbcontents.data }}</textarea><br />
        <input type="submit" class="btn btn-primary" value=Save />
        <input type="hidden" name="tasks" value="" />
    </form>
{% endblock %}
