{% extends 'navbar.html' %}
{% block content %}
<style>
#chat
{
    width:100%;
    overflow:auto;
}
/* Large desktop */
  @media (min-width: 1200px), @media (min-width: 768px), @media (max-width: 979px) { 
  #chat{height:70%;}
}

  /* Landscape phone to portrait tablet */
  @media (max-width: 767px) { 
  #chat{height:50%;}
   }

  /* Landscape phones and down */
  @media (max-width: 480px) {
  #chat{height:40%;}
   }
</style>

<div id="chat" style="height:70%; width:100%; overflow:auto;" class="well"></div>
<input id="t" type="text" placeholder="Say something..." style="width:100%;" class="form-control" />
<script src="http:////cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
<script>

    var socket = io.connect('http://' + document.domain + (location.port?(':' + location.port):'') + '/sock');
    var room = window.location.pathname;
    var roomRegex = /\/u\/([^ \/]*)\/projects\/([^ \/]*)\/chat\//g;
    var match = roomRegex.exec(room);
    var roomStr = match[1] + '/' + match[2];
    socket.emit('join',{'room':roomStr});
    socket.on('chat', function(msg) {
        $('#chat').append('<b>'+msg['user']+'</b>: '+msg['message']+'<br>');
        $("#chat").scrollTop($("#chat")[0].scrollHeight);
    });
    socket.on('join', function(msg) {
        $('#chat').append('<i>'+msg['user']+' has joined '+roomStr+'.<br>');
    });
    socket.on('code', function(msg){
        $('#chat').append('<code style="white-space: pre;">Line '+msg['number']+': '+msg['code']+'</code><br>');
    });
    $('#t').on('keydown',function(e){
        if (!e) { var e = window.event; }
        if (e.keyCode == 13) {
            socket.emit('chat',{'room':roomStr, 'message':$('#t').val()});
            $('#t').val('');
            $('#t').focus();
        }
    });
</script>
{% endblock %}
